<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Parallel Suite" parallel="methods" thread-count="2">

    <test name="Cucumber Tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.nahmed.runners.TestRunner"/>
        </classes>
    </test>

</suite>
